[req]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
C = US
ST = AL
L = Tuscaloosa
O = The University of Alabama
OU = School of Engineering
CN = cs495-spring2024-09.ua.edu

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = cs495-spring2024-09.ua.edu